.add .card {
    border: 1px solid #EFF4FA;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add .card-header {
    background-color: #fff;
}

.add .card-title {
    padding-top: 7px;
}

.add .row {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.add .col-md-6 {
    border: 1px solid #EFF4FA; 
    padding: 10px; 
    border-radius: 5px; 
    flex: 1;
    max-width: 46%;
    color: #1E4178;
    font-size: 14px;
}

.add .col-md-6 label{
    margin-left: 12px;
}

/* kotak input  */
.add .col-md-6 input.form-control {
    background-color: #ffffff; 
    color: #000000; 
    border: 1px solid #EFF4FA; 
    border-radius: 8px; 
    padding: 10px; 
}

.add .col-md-6 input.form-control:hover {
    box-shadow: none;
    outline: none;
}

.add .col-md-6 input.form-control:focus {
    background-color: #fff; 
    border-color: #92C5FF99; 
    box-shadow: 4px 4px 4px rgba(146, 197, 255, 0.6);
    transition: box-shadow 0.3s ease;
}

.add .col-md-6 select.form-control {
    background-color: #ffffff; 
    color: #000000; 
    border: 1px solid #EFF4FA; 
    border-radius: 8px; 
    padding: 10px; 
}

.add .col-md-6 select.form-control:hover {
    box-shadow: none;
    outline: none;
}

.add .col-md-6 select.form-control:focus {
    background-color: #fff; 
    border-color: #92C5FF99; 
    box-shadow: 4px 4px 4px rgba(146, 197, 255, 0.6);
    transition: box-shadow 0.3s ease;
}

.add select.btn-dropdown {
    background-color: #ffffff;
    border: none;
    color: #222B45;
    padding: 8px 12px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 13px;
}
.add select.btn-dropdown:hover {
    background-color: #ffffff;
    color: #222B45;
    box-shadow: none;
    outline: none;
    border: none;
}
.add select.btn-dropdown:focus {
    background-color: #ffffff;
    color: #222B45;
    border-color: #92C5FF99; 
    box-shadow: 4px 4px 4px rgba(146, 197, 255, 0.6);
    transition: box-shadow 0.3s ease;
}
.add .btn-dropdown option {
    font-size: 13px;
}

.add .me-2 {
    font-size: 12px;
    color: #222B45;
    width: 100%;
    padding: auto;
    text-align: left;
}

.add .dropdown .me-2:hover {
    color: #222B45;
}

/* panah dropdown */
.add .btn-dropdown {
    font-size: 14px;
    border: 1px solid #EFF4FA;
    color: #878790;
    height: 35px;
    border-radius: 7px;
    width: 100%;
}

.add .btn-dropdown:hover {
    background-color: #ffffff;
    color: #222B45;
    box-shadow: none;
    outline: none;
}

.add .btn-dropdown:focus {
    background-color: #ffffff;
    color: #222B45;
    border-color: #92C5FF99; 
    box-shadow: 4px 4px 4px rgba(146, 197, 255, 0.6);
    transition: box-shadow 0.3s ease;
}

.add .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.add .dropdown-item {
    padding: 10px 20px;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    width: 100%;
}

.add .dropdown-item:hover {
    background-color: #ADACAC;
    color: #000;
    width: 100%;
}

.add .col-md-6 .form-control {
    font-size: 12px;
    color: #222B45;
    border: 1px solid #ffffff;

}

.add .col-md-6 .upload-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.add .col-md-6 .upload-button {
    background-color: #E9EFF4;
    border: 1px solid #ADACAC !important;
    color: #878790;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}

.add .col-md-6 .upload-button:hover {
    background-color: #1E4178;
    border: 1px solid #1E4178 !important;
    color: #fff;
}
.add .label-kepada {
    color: #FF000080;
    font-size: 10px;
}

.add .isi-surat-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 23px;
    border-radius: 8px;
}

.add .isi-surat-row .col-md-12 {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #1E4178;
    font-size: 14px;
    background-color: #92C5FF99;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.add .isi-surat-row .form-label {
    margin-left: 12px;
}

.add .editor-container {
    border: 1px solid #EFF4FA;
    border-radius: 5px;
    padding: 0;
    margin: auto;
    background: #ffffff;
}

.add .editor-container textarea {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #EFF4FA;
    display: flex;
    justify-content: center;
    text-align: left;
    margin: auto;
    min-width: 100%;
    font-size: 12px;
}
.add .need-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 97.5%;
    padding: 0 23px;
    border-radius: 8px;
}
.add .need-row .col-md-12 {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #1E4178;
    font-size: 14px;
    background-color: #92C5FF99;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.add .col .cek .radio {
    margin-left: 110px;
}
.add .col .cek {
    background-color: #ffffff;
}
.add .need-row .need {
    font-size: 14px;
    margin-left: 10px;
}
.add .need-row .fill {
    font-size: 10px;
    margin-left: 10px;
    color: #FF000080;
}

.add .radio label {
    margin-right: 30px;
    margin-left: 15px;
}

.add .card-body2 {
    background-color: #ffffff;
    width: 92%;
    display: flex;
    border-radius: 7px;
    border: 1px solid #EFF4FA;
    margin: auto;
    padding-left: 15px;
    padding-top: 10px;
}

.add .card-body2 .colom {
    padding-right: 3%;
}

.add .card-body2 .colom label {
    font-size: 14px;
    color: #1E4178;
}

.add .card-body2 .colom input {
    font-size: 12px;
    min-width: 100%;
}

.add .card-body2 .colom input:hover {
    box-shadow: none;
    outline: none;
}
.add .card-body2 .colom input:focus {
    background-color: #fff; 
    border-color: #92C5FF99; 
    box-shadow: 4px 4px 4px rgba(146, 197, 255, 0.6); 
}
.add .card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    background-color: white;
    flex-wrap: nowrap;
    margin-right: 3%;
}
.add .btn-cancel {
    background-color: #fff;
    border: 1px solid #8F9BB3;
    color: #8F9BB3;
    min-width: 7%;
    font-size: 13px;
}
.add .btn-cancel:hover{
    background-color: #8F9BB3;
    border: 1px solid #8F9BB3;
    color: #fff;
}
.add .btn-save {
    background-color: #1E4178;
    color: #ffffff;
    font-size: 13px;
    min-width: 120%;
}
.add .btn-save:hover {
    background-color: #92C5FF99;
    color: #ffffff;
}
.add .btn-save a{
    /* background-color: #1E4178; */
    color: #ffffff;
    width: 7%;
    font-size: 13px;
    text-decoration: none;
}
.add .btn-save a:hover {
    /* background-color: #92C5FF99; */
    color: #1E4178 !important;
    width: 7%;
}

/* upload files */
.modal-subtitle {
    font-size: 15px;
    color: #A9ACB4;
    margin-bottom: 20px;
    text-align: center;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-box {
    width: 100%;
    max-width: 400px;
    border: 2px dashed #59BDED;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #F2F7FF;
    cursor: pointer;
}

.upload-text {
    font-size: 18px;
    font-weight: 500;
    color: #292D32;
}

.upload-note {
    font-size: 14px;
    color: #8A8383;
    margin-bottom: 15px;
}

/* Button styles */
#selectFileBtn {
    margin-top: 10px;
    background-color: #FFFFFF;
    color: #8A8383;
    border: 1px solid #8A8383;
    font-size: 14px;
}

#selectFileBtn:hover {
    border-radius: 5px;
    background-color: #8A8383;
    color: #fff;
    border: 1px solid #8A8383;
}

#uploadBtn {
    width: 80px;
}

.uploadFile .modal-footer {
    margin-right: 5%;
}

.uploadFile .btn-secondary {
    background-color: #ffffff;
    color: #8A8383;
    border: 1px solid #8A8383;
}

.uploadFile .btn-secondary:hover {
    background-color: #8A8383;
    color: #fff;
    border: 1px solid #8A8383;
}

.uploadFile .btn-primary {
    background-color: #1E4178;
    color: #fff;
    border: 1px solid #1E4178;
}

.uploadFile .btn-primary:hover {
    background-color: #92C5FF99;
    color: #fff;
    border: 1px solid #92C5FF99;
}

