.arsip .search {
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: none;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    width: calc(100% - 20px);
}

.arsip .search img {
    margin-left: 20px;
    cursor: pointer;
}

.arsip .search input {
    color: black !important;
    outline: none !important;
    box-shadow: none !important;
}
  
.arsip .search input:focus {
    color: black !important;
    outline: none !important;
    box-shadow: none !important;
}