.search {
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: none;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    width: calc(100% - 20px);
}

.search img {
    margin-left: 20px;
    cursor: pointer;
}

.search input {
    color: black !important;
    outline: none !important;
    box-shadow: none !important;
}
  
.search input:focus {
    color: black !important;
    outline: none !important;
    box-shadow: none !important;
}

.title {
    margin-left: 40px;
}

.table-light {
    margin-top: 20px;
    width: calc(100% - 40px);
    margin-left: 20px;
}
.table-light thead  {
    vertical-align: middle;
    color: #878790;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
}
.table-light th,
.table-light td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}
.table-light tbody tr {
    background-color: #FFFFFF;
}

.data-md {
    border: none;
    background-color: #f8f9fa;
}

/* Nomor */
.nomor {
    background-image: url('/img/memo-superadmin/Rectangle-path.png');
    background-size: 30px 30px;
    background-repeat: no-repeat; 
    background-position: center center; 
    color: #ffffff; 
    width: 50px; 
    height: 50px; 
}

/* status */
.badge {
    font-size: 13px;
    padding: 8px 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.nama-dokumen {
    white-space: normal; /* Memungkinkan teks turun ke baris baru */
    word-wrap: break-word; /* Memastikan kata panjang akan pecah */
    max-width: 150px; /* Atur lebar maksimum agar tidak meluas */
    overflow-wrap: break-word; /* Pastikan kata panjang tetap terpecah */
}


/* Button aksi */
.btn-sm1, .btn-sm2, .btn-sm3 {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 50px;
}

/* Delete Overlay */
#deleteModal .btn-outline-secondary {
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #6d6d6d;
    background-color: #ffffff;
    color: #6d6d6d;
}

#deleteModal .btn-outline-secondary:hover{
    background-color: #6d6d6d; /* Warna tombol saat dihover */
    color: #ffffff;
}

#deleteModal .btn-outline-secondary:active{
    background-color: #6d6d6d !important;
    color: #ffffff !important;
}

#deleteModal .btn-primary {
    padding: 8px 25px;
    font-size: 14px;
    border-radius: 5px;
    border-color: #2592F7;
    background-color: #2592F7;
    margin-left: 10px;
}

#deleteModal .btn-primary:hover {
    background-color: #004085;
    border-color: #004085;
    box-shadow: none;
    color: #ffffff;
}

#deleteModal .btn-primary:active {
    background-color: #004085 !important;
    border-color: #004085 !important;
    box-shadow: none;
    color: #fff !important;
}

#deleteModal img {
    margin-bottom: 20px;
}

#deleteModal h5 {
    font-size: 18px;
    font-weight: bold;
}

/* Modal Delete Success Confirmation */
#deleteSuccessModal .modal-content {
    border-radius: 10px;
}

#deleteSuccessModal .modal-body img {
    width: 80px;
    height: auto;
}

#deleteSuccessModal .modal-body h5 {
    font-size: 18px;
    color: #333;
    margin-top: 2px;
    margin-bottom: 2px;
}

#deleteSuccessModal .btn-primary {
    background-color: #2592F7;
    border-color: #2592F7;
    color: white;
    border-radius: 5px;
    display: flex;
    margin-left: 155px;
}

#deleteSuccessModal .btn-primary:hover {
    border-color: #004085;
    background-color: #004085;
    box-shadow: none;
    color: #ffffff;
}

#deleteSuccessModal .btn-primary:active {
    border-color: #004085 !important;
    background-color: #004085 !important;
    box-shadow: none;
    color: #fff !important
}