/* Fitur print */
.btn-primary-print {
    background-color: #1E4178;
    border: 1px solid #1E4178;
    padding: 0 15px;
    margin-left: 10px;
    color: #fff;
    margin-right: 20px;
}

.btn-primary-print:hover {
    background-color: #92C5FF;
    border: 1px solid #92C5FF;
    color: #fff;
}

.btn-primary-print:active {
    background-color: #92C5FF !important;
    border: 1px solid #92C5FF !important;
    color: #fff !important;
}