/* Style diatur pada file style-app.css */
/* Fitur Search */
.cetak-laporan .search {
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: none; 
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    width: calc(100% - 20px);
}

.cetak-laporan .search img {
    margin-left: 20px;
    cursor: pointer;
}

.cetak-laporan .search input {
    color: black !important;
    outline: none !important;
    box-shadow: none !important;
}
  
.cetak-laporan .search input:focus {
    color: black !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Dropdown divisi */
.cetak-laporan .dropdown {
    display: flex;
    align-items: center;
    text-align: center;
    padding: auto;
    margin-right: 12px;
}

.cetak-laporan .form-select {
    font-size: 14px;
    height: 45px; 
    width: 150px;
    padding: 5px 12px; 
    color: #333; /* Warna teks */
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    background-color: #ffffff;
}

.cetak-laporan .form-select:focus {
    border: 1px solid #E5E5E5;
    box-shadow: none;
    outline: none;
}

.cetak-laporan .form-select .status {
    font-weight: bold;
}

/* Fitur print */
.btn-primary-print {
    background-color: #1E4178;
    border: 1px solid #1E4178;
    padding: 10px 15px;
    margin-left: 10px;
    color: #fff;
    margin-right: 20px;
    width: 50%;
    height: 10%;
}

.btn-primary-print:hover {
    background-color: #92C5FF;
    border: 1px solid #92C5FF;
    color: #fff;
}

.btn-primary-print:active {
    background-color: #92C5FF !important;
    border: 1px solid #92C5FF !important;
    color: #fff !important;
}

.btn-primary-print img {
    margin-right: 5px;
}