.laporan .card {
    border: 1px solid #EFF4FA;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: none;
}

.laporan .card-body {
    margin-top: 20px;
}

.laporan .card-title {
    padding-top: 7px;
}

.laporan .card-blue {
    background-color: #92C5FF99;
    border: 1px solid #92C5FF99;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #1E4178;
}

.laporan .card-blue img {
    margin-right: 10px;
}

.laporan .row {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.laporan .col-md-6 {
    border: 1px solid #EFF4FA; 
    padding: 0px; 
    border-radius: 5px; 
    flex: 1;
    max-width: 46%;
    color: #1E4178;
    font-size: 14px;
}

.laporan .col-md-6 label{
    margin-left: 12px;
}

/* Hapus border, box shadow, dan outline di semua keadaan input */
.laporan .col-md-6 input {
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
    padding: 8px;
    cursor: pointer;
}

/* Hapus efek untuk semua state input */
.laporan .col-md-6 input:focus,
.laporan .col-md-6 input:active,
.laporan .col-md-6 input:valid,
.laporan .col-md-6 input:invalid {
    border: none;
    box-shadow: none;
    outline: none;
}

/* Jika ingin ada teks placeholder dengan warna redup */
.laporan .col-md-6 input::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Opsional: Tambahkan gaya default untuk memastikan keseragaman */
.laporan .col-md-6 input:disabled {
    background-color: #f5f5f5; /* Latar belakang abu-abu untuk input nonaktif */
    color: #ccc;
    cursor: not-allowed;
}

/* form control */
.laporan .col-md-6 .form-control {
    font-size: 12px;
    color: #222B45;
    border: 1px solid #ffffff;
}

.laporan p {
    padding-left: 12px;
    color: red;
    font-size: 10px;
}

/* button */
.laporan .modal-footer {
    justify-content: start;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.laporan .btn-secondary {
    color: #8F9BB3;
    background-color: #fff;
    border: 1px solid #8F9BB3;
}

.laporan .btn-secondary:hover {
    color: #fff;
    background-color: #8F9BB3;
    border: 1px solid #8F9BB3;
    box-shadow: none;
}

.laporan .btn-primary {
    padding: 6px 8px 6px 8px;
    color: #fff;
    background-color: #1E4178;
    border: 1px solid #1E4178;
}

.laporan .btn-primary:hover {
    color: #fff;
    background-color: #92C5FF99;
    border: 1px solid #92C5FF99;
    box-shadow: none;
}