/* letak component atas table */
.surat .header-tools {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 12px; 
}

/* data dibuat dan data keluar */
.surat .form-control {
    color: #878790;
    border: 1px solid #E5E5E5;
    height: 35px;
    border-radius: 7px;
}

.surat .form-control:hover {
    background-color: #ffffff; 
    border: 1px solid #E5E5E5;
    color: #878790;
    font-size: 14px;
    box-shadow: none;
    outline: none;
}

.surat .input-icon {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 15px; 
    height: 15px; 
    pointer-events: none;
    margin-right: 4px;
}

.surat .form-control:focus {
    background-color: #ffffff; 
    border: 1px solid #E5E5E5;
    color: #878790;
    font-size: 14px;
    box-shadow: none;
    outline: none;
}

.surat .form-control:hover {
    background-color: #ffffff; 
    border: 1px solid #E5E5E5 !important;
    color: #878790;
    font-size: 14px;
    box-shadow: none;
    outline: none;
}

.surat .form-control::placeholder {
    color: #878790;
    font-size: 14px;
}

/* search filter */
.surat .search-filter {
    position: relative;
    display: flex;
    gap: 32px; 
    align-items: center;
    font-size: 14px;
    width: calc(100% - 40px);
}

.surat .search-filter .btn-search {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    height: 35px;
    /* margin-right: 15px; */
    width: 300px;
}

.surat .search-filter .btn-search:hover {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    height: 35px;
}

.surat .btn-search input:hover, 
.surat .btn-search input:valid,
.surat .btn-search input:invalid {
    border: none !important;
    color: #000;
}

.surat .search-icon {
    position: absolute; 
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
}

/* button tambah pengguna */
.surat .search-filter .btn-add {
    background-color: #ffffff;
    color: #878790;
    border: 1px solid #DFDFDF;
    border-radius: 7px;
    height: 35px;
    font-size: 14px;
    width: 200px;
}

.surat .search-filter .btn-add:hover {
    background-color: #1E4178;
    color: #ffffff;
}

.surat .search-filter input {
    box-sizing: border-box; 
    width: 100%; 
    padding: 8px 12px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    font-size: 14px;
    color: #878790;
    transition: all 0.2s ease-in-out; 
}

.surat .search-filter input:focus {
    outline: none; 
    border: 1px solid #2592F7; 
    background-color: #ffffff; 
}

/* status filter */
.surat .dropdown .me-2 {
    font-size: 14px;
    color: #878790;
    width: 80px;
    padding: auto;
}

.surat .dropdown .me-2:hover {
    color: #878790;
}

.surat .btn-dropdown {
    font-size: 14px;
    border: 1px solid #DFDFDF;
    color: #878790;
    height: 35px;
    border-radius: 7px;
    /* margin-right: 15px; */
    padding-right: 30px;
}

.surat .btn-dropdown:hover {
    background-color: #ffffff;
    border: 1px solid #DFDFDF !important;
    color: #878790;
}

.surat .btn-dropdown:focus {
    background-color: #ffffff;
    border: 1px solid #DFDFDF !important;
    color: #878790;
}

.surat .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.surat .dropdown-item {
    padding: 10px 20px;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.surat .dropdown-item:hover {
    background-color: #f0f0f0;
    color: #000;
}

.btn-sm4:hover {
    border: 1px solid #c8dbf1 !important;
    border-radius: 50px;
    background-color: #c8dbf1 !important;
}

.btn-sm4:active {
    border: 1px solid #c8dbf1 !important;
    border-radius: 50px;
    background-color: #c8dbf1 !important;
}
.btn.cancel {
    background-color: #ffffff;
    border: 1px solid #8F9BB3;
    color: #8F9BB3;
    width: 15%;
    font-size: 13px;
}
.btn.ok {
    background-color: #2592F7;
    color: #ffffff;
    width: 15%;
    font-size: 13px;
}
.btn.cancel:hover{
    background-color: #8F9BB3;
    border: 1px solid #8F9BB3;
    color: #ffffff;
}
.btn.cancel a {
    text-decoration: none;
    color: #8F9BB3;
    font-size: 13px;
}
.btn.cancel a:hover{
    color: #ffffff;
}
.btn.ok:hover,
.btn.back:hover {
    background-color: #92C5FF99;
    color: #ffffff;
}
.btn.ok a,
.btn.back a {
    /* background-color: #1E4178; */
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
}
.btn.ok a:hover,
.btn.back a:hover {
    /* background-color: #92C5FF99; */
    color: #1E4178 !important;
}
.btn.back {
    background-color: #2592F7;
    color: #ffffff;
    width: 20%;
    font-size: 13px;
    text-decoration: none;
}