/* Welcome Message */
.welcome-message {
    margin: 20px 0;
    font-size: 16px;
    color: #333;
}

.system-name {
    color: #00B087;
    font-weight: bold;
}

.role-badge {
    background: #5D5FEF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
}

/* Overview Section */
.overview-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overview-container h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #000;
}

.overview-cards {
    display: flex;
    gap: 20px;
}

.overview-card {
    flex: 1;
    background: #92C5FF4D;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.overview-card p{
    margin-bottom: 0px;
}

.overview-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f6f6f6;
}

.overview-card button {
    border-radius: 6px;
    width: 35px;
    height: 30px;
    border: #fff;
    background-color: #fff;
    margin-right: 8px;
}

.overview-card h4 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: left;
    float: left;
}
.overview-card a {
    font-size: 13px;
    font-weight: bold !important;
    float: right; 
    margin-right: 5px;
    font-weight: normal;
    text-decoration: underline;
}

.overview-card a:hover {
    color: #1E4178;
}

.overview-card p {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 5px; 
}
hr {
    margin-top: 35px;
}

span.jumlah {
    font-weight: bold;
    font-size: 25px;
}
span.text {
    font-size: 14px;
    font-weight: bold;
}

/* Things to Do Section */
.things-to-do-container {
    padding: 20px;
}

.things-to-do-container h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
}

.things-to-do-list {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.things-to-do-list .icon1, .icon2, .icon3 {
    flex-shrink: 0;
}

.things-to-do-list .icon img {
    width: 30px;
    height: 34px;
}

.things-to-do-list .content {
    margin-left: 20px;
    flex-grow: 1;
}

.things-to-do-list .content h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 14px;
    color: #000;
}

.things-to-do-list .content a {
    text-decoration: none;
    color: #000;
}

.things-to-do-list .content a:hover {
    color: #666;
}

.task .content p {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0;
}

/* Button aksi */
.icon1 {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #0C73E0E5;
    border-radius: 50px;
    background-color: #0C73E0E5;
    color: #fff;
}

.icon2 {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #495BCDE5;
    border-radius: 50px;
    background-color: #495BCDE5;
}

.icon3 {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #629584;
    border-radius: 50px;
    background-color: #629584;
}

.icon1:hover, .icon2:hover, .icon3:hover {
    border: 1px solid #565656 !important;
    border-radius: 50px;
    background-color: #565656 !important;
}

.icon1:active, .icon2:active, .icon3:active {
    border: 1px solid #565656 !important;
    border-radius: 50px;
    background-color: #565656 !important;
}

@media (max-width: 768px) {
    .overview-cards {
        flex-direction: column;
    }
    
    .overview-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .overview-card a {
        display: block;
        margin-top: 5px;
        text-align: center;
    }

    .overview-card p {
        margin-top: -30px;
        flex-direction: row-reverse;
    }

    .overview-card span.text {
        display: none;
    }
}