.perusahaan .card {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 35px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}
.perusahaan h3 {
    padding-left: 30px;
}

.perusahaan hr {
    margin-top: 15px;
}

.perusahaan .row {
    margin-top: px;
    padding-left: 30px;
    padding-bottom: 0px;
}

/* kotak input  */
.perusahaan .col-md-6 {
    border: 1px solid #EFF4FA; 
    padding: 10px; 
    border-radius: 5px; 
    flex: 1;
    color: #1E4178;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
}

.perusahaan .col-md-6:hover {
    border-color: #007bff; /* Mengubah warna border saat hover */
}

.perusahaan .col-md-6 label{
    margin-left: 12px;
}

.perusahaan .col-md-6 input.form-control {
    background-color: #ffffff; 
    color: #000000; 
    border: 1px solid #EFF4FA; 
    border-radius: 8px; 
    padding: 10px; 
}

.perusahaan .col-md-6 input.form-control:hover {
    box-shadow: none;
    outline: none;
}

.perusahaan .col-md-6 input.form-control:focus {
    background-color: #fff; 
    border-color: #92C5FF !important; 
    box-shadow: 4px 4px 4px rgba(146, 197, 255, 0.6); 
}

.perusahaan .col-md-6 textarea.form-control {
    background-color: #ffffff; 
    color: #000000; 
    border: 1px solid #EFF4FA; 
    border-radius: 8px; 
    padding: 10px; 
}

.perusahaan .col-md-6 textarea.form-control:hover {
    box-shadow: none;
    outline: none;
}

.perusahaan .col-md-6 textarea.form-control:focus {
    background-color: #fff; 
    border-color: #92C5FF !important; 
    box-shadow: 4px 4px 4px rgba(146, 197, 255, 0.6); 
}

.perusahaan .file .form-control {
    margin-left: 10px;
    margin-top: 10px;
}

#buttonGroup {
    margin-top: 20px;
}

.perusahaan .btn-primary {
    margin-left: 10px;
    width: 15%;
    background-color: #1E4178;
    border: 1px solid #1E4178;
    color: #ffffff;
}

.perusahaan .btn-primary:hover {
    background-color: #92C5FF99;
    border: 1px solid #92C5FF99;
    color: #1E4178;
}

.perusahaan .btn-secondary {
    margin-left: 10px;
    width: 12%;
    background-color: #fff;
    border: 1px solid #8F9BB3;
    color: #8F9BB3;
}

.perusahaan .btn-secondary:hover {
    background-color: #8F9BB3;
    border: 1px solid #8F9BB3;
    color: #fff;
}

.perusahaan .btn-success {
    margin-left: 10px;
    width: 15%;
    background-color: #1E4178;
    border: 1px solid #1E4178;
    color: #ffffff;
}

.perusahaan .btn-success:hover {
    background-color: #92C5FF99;
    border: 1px solid #92C5FF99;
    color: #1E4178;
}