.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.header.back-button a {
    margin-right: auto;
    display: flex;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;
}

.breadcrumb-wrapper {
    display: inline-block; 
    margin-right: 20px; 
}

.breadcrumb {
    font-size: 14px;
    color: #888;
    margin-bottom: 30px;
    padding: 8px 12px;
    border: 1px solid #E5E5E5CC;
    display: flex;
    justify-content: left;
}

.breadcrumb a {
    text-decoration: none;
    color: #A9A9A9;
}

table {
    margin-top: 20px;
}

.table th  {
    vertical-align: middle;
    color: #878790;
    text-align: center;
}

.table td {
    vertical-align: middle;
    text-align: center;
}

.badge {
    font-size: 13px;
    padding: 8px 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Fitur Status */
.form-select {
    color: #6e6e71;
    border: 1px solid #E5E5E5;
}

.form-select:hover {
    background-color: #ffffff; 
    border-color: #0d6efd; 
    color: #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.8);
}

.form-control {
    color: #878790;
    border: 1px solid #E5E5E5;
}

.form-control:hover {
    background-color: #ffffff; 
    border-color: #0d6efd; 
    color: #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.8);
}

.icon-panah {
    width: 24px; 
    height: 12px; 
    margin: auto;
}

/* Fitur Search */
.btn-primary {
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    padding: 0 15px;
    margin-left: 120px;
}

.btn-primary:hover {
    background-color: #ffffff; 
    border-color: #0d6efd; 
    color: #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.8);
}

/* Button add */
.btn-success {
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    color: #878790;
}

.btn-success:hover {
    background-color: #f5f5f5; 
    border-color: #0d6efd; 
    color: #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.8);

}

/* warna memo monitoring */
.text-success {
    color: #28a745; /* Hijau */
}

.text-warning {
    color: #ffc107; /* Kuning */
}

.text-danger {
    color: #dc3545; /* Merah */
}

/* Button aksi */
.btn-sm {
    font-size: 14px;
    padding: 5px 10px;
}

.pagination .page-link {
    color: #0d6efd;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
}

