.user-info {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-left: 10px;
}
.user-info img {
    width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 5px;
}
.text-info {
    line-height: 1.2; 
    text-align: left;
    color: #000 !important;
}
.user-manage .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.user-manage .table thead {
    background-color: #EFF4FA;
    color: #8F9BB3;
}
.user-manage .table th {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    color: #8F9BB3;
}
.user-manage .table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}
.user-manage .table-striped tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.user-manage .table tbody tr {
    background-color: #FFFFFF;
}
.user-manage .btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal-footer {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    gap: 10px;
    padding: 1rem;
}
.btn-cancel {
    background-color: #ffffff;
    border: 1px solid #8F9BB3;
    color: #8F9BB3;
    width: 10%;
}
.btn-cancel:hover{
    background-color: #8F9BB3;
    border: 1px solid #8F9BB3;
    color: #ffffff;
}

.btn-save {
    background-color: #1E4178;
    color: #ffffff;
    width: 10%;
}
.btn-save:hover {
    background-color: #92C5FF99;
    color: #ffffff;
    width: 10%;
}
.btn-edit {
    font-size: 14px;
    border-radius: 50px;
    width: 36%;
    margin: 0 auto;
}
.btn-delete {
    font-size: 14px;
    border-radius: 50px;
    width: 39%;
    margin: 0 auto;
}
.btn-edit:hover,
.btn-edit:active {
    border: none !important;
    border-radius: 50px;
    width: 36%;
    background-color: #0095FF !important;
}
.btn-delete:hover,
.btn-delete:active {
    border: none !important;
    border-radius: 50px;
    width: 39%;
    background-color: #FF0000 !important;
}
.user-manage .header-tools {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
}

.user-manage .header-tools .title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.user-manage .header-tools .btn-primary {
    margin-left: 5px; 
}

.user-manage .search-filter {
    position: relative;
    display: flex;
    gap: 0; 
    align-items: center;
}

.user-manage .search-filter .btn-search {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    height: 35px;
    margin-right: 15px;
}

.user-manage .search-filter .btn-search:hover {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    height: 35px;
}

.user-manage .search-filter .form-control {
    padding: 5px 5px ;
    width: 250px;
    border: 1px solid #E5E5E5;
    border-radius: 0;
    margin-right: 10px;
    color: #000;
}

.user-manage .search-filter .btn-secondary {
    padding: 5px 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
}

/* search */
.user-manage .search-filter .btn-primary {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 7px;
    margin-right: 15px;
    height: 35px;
}

.user-manage .search-filter .btn-primary:hover {
    box-shadow: none;
    outline: none;
}

.user-manage .search-filter .btn-primary input:focus {
    box-shadow: none;
    outline: none;
}

/* button tambah pengguna */
.user-manage .search-filter .btn-add {
    background-color: #1E4178;
    color: #FFFFFF;
    border: 1px solid #1E4178;
    border-radius: 7px;
    margin-right: 15px;
    height: 35px;
}

.user-manage .search-filter .btn-add:hover {
    background-color: #92C5FF99;
    border: 1px solid #92C5FF99;
    color: #1E4178;
}

/* tulisan urutkan/filter by */
.user-manage .dropdown .me-2 {
    font-size: 14px;
    color: #878790;
    width: 80px;
    padding: auto;
}

.user-manage .dropdown .me-2:hover {
    color: #878790;
}

/* panah dropdown */
.user-manage .btn-dropdown {
    font-size: 14px;
    border: 1px solid #DFDFDF;
    color: #878790;
    height: 35px;
    border-radius: 7px;
    margin-right: 15px;
    padding-right: 30px;
}

.user-manage .btn-dropdown:hover {
    background-color: #ffffff;
    border: 1px solid #DFDFDF !important;
    color: #878790;
}

.user-manage .btn-dropdown:focus {
    background-color: #ffffff;
    border: 1px solid #DFDFDF !important;
    color: #878790;
}

.user-manage .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.user-manage .dropdown-item {
    padding: 10px 20px;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.user-manage .dropdown-item:hover {
    background-color: #f0f0f0;
    color: #000;
}

.mb-3 .izin {
    display: flex;
    justify-content: flex-end; /* Geser elemen ke kanan */
    gap: 15px;
    color: #222B45;
    font-size: 13px;
    margin-top: 50px;
}

.mb-3 .izin input {
    margin-right: 15px;
}

.mb-3 .izin .form-izin {
    margin-right: 149px;
}

.badge.role-superadmin {
    background-color: #3e58c0;
    color: white;
}
.badge.role-admin {
    background-color: #0095FF;
    color: white;
}
.badge.role-manager {
    background-color: #5D5FEF;
    color: white;
}