body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    /* max-width: 100%; */
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.header.back-button a {
    margin-right: auto;
    display: flex;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;
}

.breadcrumb-wrapper {
    display: inline-block; 
    margin-right: 30px; 
    margin-left: 6px;
    width: 1170px;
}

.breadcrumb {
    font-size: 14px;
    color: #888;
    margin-bottom: 30px;
    padding: 8px 12px;
    border: 1px solid #E5E5E5CC;
    display: flex;
    justify-content: left;
}

.breadcrumb a {
    text-decoration: none;
    color: #A9A9A9;
}

.card-blue {
    background-color: #92C5FF40;
    border: 1px solid #92C5FF40;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #1E4178;
}

.card-blue img {
    margin-right: 10px;
    margin-left: 10px;
}

.body-content {
    width: 97%;
    margin-left: 17px;
}

.row {
    display: flex;
    justify-content: left;
    gap: 25px;
}

.row-mb-4 {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    margin-right: 10px;
}

.col-md-6 {
    border: 1px solid #EFF4FA; 
    padding: 0px; 
    border-radius: 5px; 
    flex: 1;
    width: 100%;
    color: #1E4178;
    font-size: 14px;
}

.card-white {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 20px;
    color: #1E4178;
}

.card-white label {
    flex: 0 0 150px;
    margin-left: 20px;
    font-size: 14px;
    color: #1E4178;
}

.card-white .separator {
    flex: 0 0 1px;
    background-color: #E5E5E5;
    height: 45px;
}

.card-white input {
    flex: 1;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    color: #888;
    background: none;
    color: #1E4178;
    margin-bottom: 0px;
    padding: 8px;
    margin-left: 20px;
}

.card-white button {
    margin-left: 28px;
    margin-right: 5px;
    border: 1px solid #1E4178;
    background-color: #1E4178;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    color: #fff;
    padding: 4px;
    width: 17%;
}

.card-white button:hover {
    color: #fff;
    background-color: #92C5FF;
    border: 1px solid #92C5FF;
}

.card-white .btn-status {
    margin-left: 28px;
    margin-right: 5px;
    border: 1px solid #00B087;
    background-color: #00B087;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    color: #fff;
    padding: 4px;
    width: 17%;
}

.card-white .btn-status:hover {
    color: #fff;
    background-color: #92ffc7;
    border: 1px solid #92ffc7;
}

.btn-status-approve {
    background-color: #00B087;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-status-pending {
    background-color: #DD9A19;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-status-reject {
    background-color: #FF0000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.bg-success {
    margin-left: 28px;
    font-size: 14px;
}

.modal-footer {
    justify-content: right;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 20px;
    gap: 10px;
}

.btn-secondary {
    margin-right: 10px;
    color: #8F9BB3;
    background-color: #fff;
    border: 1px solid #8F9BB3;
    width: 7%;
}

.btn-secondary:hover {
    margin-right: 10px;
    color: #fff;
    background-color: #8F9BB3;
    border: 1px solid #8F9BB3;
}

.btn-primary {
    margin-right: 10px;
    color: #fff;
    background-color: #1E4178;
    border: 1px solid #1E4178;
    width: 7%;
}

.btn-primary:hover {
    margin-right: 10px;
    color: #fff;
    background-color: #92C5FF;
    border: 1px solid #92C5FF;
}

.card-blue1 {
    background-color: #92C5FF40;
    border: 1px solid #92C5FF40;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #1E4178;
}

.card-blue1 .label1 {
    margin-left: 10px;
}

.card-blue1 .form-check1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
    gap: 20px; 
    color: #8F9BB3;
}

.card-blue1 .form-check1:hover {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
    gap: 20px; 
    color: #1E4178;
}

.card-blue1 .form-check2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    gap: 20px; 
    color: #8F9BB3;
}

.card-blue1 .form-check2:hover {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    gap: 20px; 
    color: #1E4178;
}

.card-blue1 .form-check-input {
    border: 1px solid #5A6ACF80;
}

.card-blue1 .form-check-input:hover {
    border: 1px solid #1E4178;
    box-shadow: 0 2px 4px rgb(red, green, blue);
}

.card-white .form-control {
    font-size: 14px;
}

.card-white select option {
    font-size: 14px;
    text-align: center;
}

.card-input textarea {
    flex: 1;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    color: #1E4178;
    margin-bottom: 0px;
    padding: 8px;
    margin-left: 20px;
    width: 92%;
}